*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

:root{
--primary:#d10000;
--secondary:#111111;
--white:#ffffff;
--light:#f8f9fc;
--text:#444444;
}

body{
font-family:
Inter,
Poppins,
Arial,
sans-serif;

background:#ffffff;

color:#111111;

overflow-x:hidden;
}

.app{
min-height:100vh;
}

section{
width:100%;
}

a{
text-decoration:none;
}

img{
max-width:100%;
display:block;
}

button{
font-family:inherit;
}

.container{
width:90%;
max-width:1400px;
margin:auto;
}

/* Scrollbar */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#f1f1f1;
}

::-webkit-scrollbar-thumb{
background:#d10000;
border-radius:10px;
}

::-webkit-scrollbar-thumb:hover
